.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #000080;
  color: red;
  text-align: center;
}
.backdiv {
  /* background-image:url("/assets/_grungy-american-flag-background.jpg"); */
  background-image: url("/assets/flag_table_background.jpg");
  /* opacity:0.7; */
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000080;
  color: red;
  text-align: center;
}
table {
  border-spacing: 0;
  margin-top: 20px;
  top: 0;
}
tr {
  background-color: red;
  text-align: center;
  color: white; /* #000080; */
  margin-bottom: 20px;
}
td {
  border-collapse: collapse;
  border-left: 10px solid #000080;
  border-right: 10px solid #000080;
  margin-right: 0px;
  padding: 10px;
}
.marquee {
  position: fixed;
  horizontal-align: center;
  margin-top: 80px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  whitespace: nowrap;
}
